.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ddd;
    stroke-opacity: 0.75;
}

.link.source, .link.target {
    stroke-opacity: 1;
    stroke-width: 2.5px;
}

.node:hover {
    fill: #1f77b4;
}

.node.target {
    fill: #2A7E84 !important;
    font-weight: bold;
}

.link.source {
    stroke: #2A7E84;
}

.node.source {
    fill: #2ca02c;
    font-weight: bold;
}

.link.target {
    stroke: #2ca02c;
}

.node.at-end text {
    font-size: 1.2em;
    font-family: monospace;
}

text:hover {
    font-weight:bold;
}

text tspan.category {
    font-weight: 100;
    fill: #000;
    font-size: 0.8em;
    font-family: monospace;
}

rect.category {
    fill: #CCC;
}

div#container {
    overflow: auto;
}

div.control {
    min-width: 450px;
}

div.control div.item {
    min-width: 400px;
}

div.control div.item a.item {
    min-width: 120px;
}

.ui.toggle.checkbox.inverted {
   min-height: 2.0rem;
   min-width: 20rem;
}

.ui.toggle.checkbox.inverted label {
    color: white;
}

rect.category.job {
    fill: lightblue;
}

rect.category.datasource {
    fill: pink;
}

rect.category.report {
    fill: orange;
}